pipeline/pipeline1_with data flow.json
{
	"name": "pipeline1_with data flow",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Get All Distinct Dates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select DISTINCT CreatedDate from dbo.tbl_Source ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Get All Distinct Dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Get All Distinct Dates').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set the Current Date",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_CreatedDate",
								"value": {
									"value": "@formatDateTime(item().CreatedDate,'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dataflow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Set the Current Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"varDataFlowDate": {
											"value": "'@{variables('var_CreatedDate')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"AzureDataLake": {
											"filedate": {
												"value": "@variables('var_CreatedDate')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_CreatedDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-01T15:26:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}